*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  width: 375px;

}

header {
  height: 100px;
}

.statusbar {
  width: 375px;
  background-color: #007AFF;
  color: white;

}

nav {
  background-color: #007AFF;
  height: 100px;
  padding: 16px;
}

.fa-chevron-left {
  display: inline-block;
  padding-right: 10px;
}

h1 {
  width: 375px;
  height: 28px;
  background-color: #1B720D;
  color: white;
  text-align: center;
  padding-top: 4px;
}

h3 {
  width: 375px;
  height: 28px;
  background-color: #007AFF;
  color: white;
  padding-top: 4px;

}

h4 {
  padding-top: 4px;
  width: 375px;
  height: 28px;
  background-color: red;
  color: white;

}
h2 {
  padding-top: 15px;
  display: inline-block;

}

ul {
  list-style: none;
  padding-left: 0px;
}

p {
  display: inline-block;
}

.buslist {

}

.row {
  display: flex;
  border-bottom: 1px solid grey;
  width: 375px;
  padding: 27px 0;
  padding-top: 0px;
}

.busnumber {
  padding-left: 12px;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-align: center off the body;
  padding-top: 14px;
  min-width: 100px;
}

.destination {
  font-size: 18px;
  display: inline-block;
}

.route{

}

.time {
  display: inline-block;
  font-size: 14px;

}

.eta {
  padding-left: auto;

}

.frequency {

}

.icon {
  float: right;
}
